.three-blocks > button{
  width:var(--size-area);
  height:var(--size-button);
  padding:20px;
  border-color:#aaa;
  border-style:solid;
  border-width:0 1px 1px 1px;
  cursor:pointer;
  color:black;
}
.three-blocks > button:hover{
  opacity:0.5;
}

.three-blocks .block-control{
  position:absolute;
  z-index:20;
  display:none;
  gap:4px;
}
.three-blocks .block-control > *{
  width:30px;
  height:30px;
  cursor:pointer;
}
.three-blocks .block-control > *:hover{
  opacity:0.5;
}
.three-blocks[data-status='block-over'] .block-control{
  display:flex;
}